.App {
  text-align: center;
}

.App p {
  width: 75%;
  margin: auto;
  overflow-wrap: break-word;
  padding: 20px 0;
}
input{
  width: 300px;
  font-size: 20pt;
}

.SearchBar{
padding-top:15px;
}

.SBTitle{
  font-family: lato-light,lato,sans-serif;
  margin-right: 700px;

}

img{
  float:right;
  padding-right: 100px;
}